<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Document</title>
</head>
<body>

<link rel="stylesheet" href="/css/app.css"  th:src=“@{/css/app.css}/>
<div layout:fragment="styles"></div>

<div layout:fragment="content" id="content"></div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

<div layout:fragment="scripts"></div>

</body>
</html>